# Java specific files to ignore
*.class
 
# Intellij specific files to ignore
# including the .idea directory
*.iml
.idea/
 
# Generic files to ignore these include Mac specific,
# editor backup, swap files, etc.
*~
*.lock
*.DS_Store
*.swp
*.out

# ITAM specfic files to ignore
distribution/
out/artifacts/*/*.jar
